<!DOCTYPE html>
<html>

    <head>

    	<title> OS Panel </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<style type="text/css">
          * { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
	</style>

    </head>

    <body>
    	<form action="/login" method="post">
	   <input type="text" name="username" placeholder="Username"><br>
	   <input type="password" name="password" placeholder="Password"><br>
	   <input type="submit" name="login" value="Login">
	</form>
    </body>
    <h5>{{ login_status }}<h5>

</html>
