<!DOCTYPE html>
<html>

    <head>

    	<title> OS Panel </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style type="text/css">
            * { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
	    #select_action { margin-top: 35px; }
	    table, th, td {
		text-align: center;
		border-collapse: collapse;
	    }
	    table { width: 70%; border: 1px solid black; margin-top: 25px; }
	    th { height: 35px; background-color: #4CAF50; color: white; font-weight: bold; }
	    tr { height: 40px; }
	    tr:nth-child(even) { background-color: #f2f2f2 }
	    #id { width: 5%; }
	</style>

    </head>

    <body>
	<h1> Puppy :) </h1>
	<div id="select_action">
	  <form action="/panel" method="post">
	      <select id="action" name="operation">
		<!-- <option>s are added dinamically (actions.js) -->
	      </select>
	      <input type="submit" value="Confirmar">
	  </form>
	</div>

	<div id="actions">
	</div>

	<script src="/static/panel.js"></script>
	<script src="/static/ajax.js"></script>
	<script>
		ajaxRequest("/actions", buildTable);
	</script>
    </body>

</html>
